[Unit]
Description=Unbound Exporter for Prometheus
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/unbound_exporter \
  --web.listen-address="0.0.0.0:9167" \
  --unbound.host="127.0.0.1" \
  --unbound.port="8953" \
  --unbound.timeout="5s"

Restart=always

[Install]
WantedBy=multi-user.target
