[Unit]
Description=Unbound Exporter for Prometheus
After=network.target unbound.service

[Service]
Type=simple
ExecStart=/usr/local/bin/unbound_exporter \
    --web.listen-address=0.0.0.0:9167
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
